{% load i18n %}{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>HackInScience - {% block title %}{% trans "Welcome!" %}{% endblock %}</title>
        <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/hkis.css" %}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body id="page-top" class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
      {% block nav %}
      {% endblock %}
      {% block body %}
      <div class="container-fluid">
        {% block container %}
        {% endblock container %}
      </div>
      {% endblock %}
      <script src="{% static "js/jquery-slim.min.js" %}"></script>
      <script src="{% static "js/util.js" %}"></script>
      <script src="{% static "js/collapse.js" %}"></script>
      {% block extrajs %}
      {% endblock %}
    </body>
</html>
