{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Python exercises" %}{% endblock %}

{% block container %}

<h1>Python exercises</h1>

<table class="table table-sm table-hover table-responsive">
  <tbody>
    {% for exercise in exercises %}
    <tr onclick="if (!event.ctrlKey){location.href='{% url "exercise" exercise.slug %}';}">
      <td scope="row" class="d-flex align-items-center">
          {% if exercise.tried %}
            {% if exercise.done %}
              <span class="good">✓</span>
            {% else %}
              <span class="bad">✗</span>
            {% endif %}
          {% endif %}
      </td>
      <td>
        <a href="{% url "exercise" exercise.slug %}">
          <h5 style="display:inline">{{ exercise.number }}. {{ exercise.title }}</h5>
        </a>
      </td>
      <td>
        <i>{% blocktrans with nb=exercise.successes %}Solved by {{ nb }}{% endblocktrans %}</i>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
