{% extends 'hkis/base.html' %}
{% load i18n static %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background: #1e2933; text-transform:uppercase; font-family:Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif; z-index: 100">
  <a class="navbar-brand" href="/">
    <div style="float:left;">
        <img src="{% static "img/logo_hackinscience.png" %}" width="20" height="20" alt="logo"/>
    </div>
    <div style="float:left;margin-left:10px; font-weight: 700">
        HackInScience
    </div>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'exercises' %}">{% trans "Exercises" %}</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' user.id %}">{% trans "Profile" %}</a>
        </li>
        {% if perms.website.view_answer %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'stats' %}">{% trans "Stats" %}</a>
          </li>
        {% endif %}
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
          </li>
        {% endif %}
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'help' %}">{% trans "Help" %}</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
      </li>
      <li class="nav-item">
        {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>
        {% else %}
          <a class="nav-link" href="{% url 'auth_login' %}">{% trans "Sign in" %}</a>
        {% endif %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://liberapay.com/JulienPalard">
          <img height="24"
               alt="{% trans "Donate using Liberapay" %}"
               src="{% static "img/liberapay.svg" %}">
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
{% endblock %}
