{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static %}
{% block title %}{{ object.title }}{% endblock %}

{% block stylesheets %}
<link href="{% static "css/codehilite.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block container %}
{% if next %}
<div class="float-right">
  <a class="btn btn-primary" href="{% url "lesson" next %}">
    {% trans "Next" %} →
  </a>
</div>
{% endif %}
{{ object.content|markdown_to_bootstrap }}
{% endblock %}
