{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static %}
{% block title %}{{ object.title }}{% endblock %}

{% block stylesheets %}
  <link href="{% static "css/codehilite.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "django_ace/widget.css" %}" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static "django_ace/ace/ace.js" %}"></script>
  <script type="text/javascript" src="{% static "django_ace/widget.js" %}"></script>
  <script type="text/javascript" src="{% static "django_ace/ace/mode-python.js" %}"></script>
  <script type="text/javascript" src="{% static "django_ace/ace/theme-twilight.js" %}"></script>
  <script src="{% static "js/tab.js" %}"></script>
  <script>
    function shared_answer(answer_id, is_shared, csrf_token) {
        var data = {
            "is_shared": is_shared,
        };
        var xhr = new XMLHttpRequest();
        xhr.open('PATCH', "/api/answers/".concat(answer_id, "/"), false);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.setRequestHeader("cache-control", "no-cache");
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("btn-".concat(answer_id, "-share")).style.display = is_shared ? "none" : "";
                document.getElementById("btn-".concat(answer_id, "-unshare")).style.display = is_shared ? "" : "none";
            }
        };
        xhr.send(JSON.stringify(data));
    }
  </script>
{% endblock %}

{% block container %}

<h1> {% trans "Solutions for exercise:" %} <a href="{% url "exercise" exercise.slug %}">{{ exercise.title }}</a></h1>

<h2 style="margin-top: 20px;">{% trans "Shared solutions" %}</h2>
{% if not is_allowed_to_see_solutions %}
{% trans "(You're not allowed to see them until you resolved the exercise.)" %}
<br/>
{% endif %}
{% if solutions %}
  <ul class="nav nav-tabs" id="solutions" role="tablist">
      {% for solution in solutions %}
      <li class="nav-item">
        <a class="nav-link{% if forloop.counter == 1 %} active{% endif %}"
           id="sol-{{forloop.counter}}-tab"
           data-toggle="tab"
           href="#sol-{{forloop.counter}}"
           role="tab"
           aria-controls="sol-{{forloop.counter}}"
           aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
              {{ forloop.counter }}
          </a>
      </li>
      {% endfor %}
  </ul>
  <div class="tab-content" id="solutions">
      {% for solution in solutions %}
      <div class="tab-pane fade{% if forloop.counter == 1 %} show active{% endif %}"
           id="sol-{{forloop.counter}}"
           role="tabpanel"
           aria-labelledby="sol-{{forloop.counter}}-tab">
        <br/>
        <p>
          {% blocktrans with username=solution.user.username date=solution.created_at.date %}Solution shared by {{ username }} on {{ date }}:{% endblocktrans %}
        </p>

        <div class="django-ace-editor">
          <div class="django-ace-widget loading" data-fontsize="16px" data-mode="python" data-showinvisibles="false" data-showprintmargin="true" data-theme="twilight" data-usesofttabs="true" style="width:100%; height:400px"><div></div>
          </div>
          <textarea name="source_code" cols="40" rows="10" id="id_source_code_{{ forloop.counter }}">{{ solution.source_code }}</textarea>
        </div>
      </div>
      {% endfor %}
  </div>
{% else %}
{% trans "No solution shared yet :(" %}
{% endif %}

<h2 style="margin-top: 20px;">{% trans "My answers" %}</h2>
{% if not my_answers %}
{% trans "You haven't submitted anything for this exercise yet." %}
{% else %}
  <ul class="nav nav-tabs" id="my_answers" role="tablist">
      {% for solution in my_answers %}
      <li class="nav-item">
        <a class="nav-link{% if forloop.counter == 1 %} active{% endif %}"
           id="ans-{{forloop.counter}}-tab"
           data-toggle="tab"
           href="#ans-{{forloop.counter}}"
           role="tab"
           aria-controls="ans-{{forloop.counter}}"
           aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}">
              {{ forloop.counter }}
          </a>
      </li>
      {% endfor %}
  </ul>
  <div class="tab-content" id="my_answers">
      {% for solution in my_answers %}
      <div class="tab-pane fade{% if forloop.counter == 1 %} show active{% endif %}"
           id="ans-{{forloop.counter}}"
           role="tabpanel"
           aria-labelledby="ans-{{forloop.counter}}-tab">
        <br/>
        <p>
          {% blocktrans with date=solution.created_at.date %}Submited on {{ date }}:{% endblocktrans %}
        </p>

        <div class="django-ace-editor">
          <div class="django-ace-widget loading" data-fontsize="16px" data-mode="python" data-showinvisibles="false" data-showprintmargin="true" data-theme="twilight" data-usesofttabs="true" style="width:100%; height:400px"><div></div>
          </div>
          <textarea name="source_code" cols="40" rows="10" id="id_source_code_{{ forloop.counter }}">{{ solution.source_code }}</textarea>
        </div>
        <div class="result-box">
          <pre>{{ solution.correction_message }}</pre>
        </div>
        {% if solution.is_valid %}
        <button id="btn-{{ solution.id }}-unshare"
                type="button"
                {% if not solution.is_shared %}style="display: none"{% endif %}
                class="btn btn-secondary btn-sm"
                onclick="shared_answer('{{ solution.id }}', false, '{{ csrf_token }}')">
          {% trans "Unshare it" %}
        </button>
        <button id="btn-{{ solution.id }}-share"
                type="button"
                {% if solution.is_shared %}style="display: none"{% endif %}
                class="btn btn-primary btn-sm"
                onclick="shared_answer('{{ solution.id }}', true, '{{ csrf_token }}')">
          {% trans "Share it with other students!" %}
        </button>
        {% endif %}
      </div>
      {% endfor %}
  </div>

{% endif %}
{% endblock %}
